<footer class="site-footer">

  <div>
    <div class="primary">
      <a href="https://cybergreen.net" rel="external"><img src="{{ "/img/medialibrary/CG_Logo_Colorchange_GreyandGreen.png" | prepend: site.baseurl }}" width="145 alt="Cybergree"></a>
      {% if site.supporters %}
      <div class="supporters">
        <h6>Supported by</h6>
        {% for supporter in site.supporters %}
          {% if supporter.footer_logo %}
          <a{% if supporter.url %} href="{{ supporter.url }}" rel="external"{% endif %}><img style="size:250px;" src="{{ supporter.footer_logo }}" alt="{{ supporter.name }}"></a>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="secondary">
      <ul>
        <li>Copyright 2016, CyberGreen. All Rights Reserved.</li><br>
        <li><a href="/terms-of-use/" rel="external">Terms of use</a></li>
        <li class="button"><a href="http://opendefinition.org/" rel="external"></a></li>
      </ul>
    </div>

    <div class="tertiary">
      {% if site.related_projects %}
      <div>
        <h6>Related Projects</h6>
        <ul>
          {% for project in site.related_projects %}
          <li><a href="{{ project.link }}">{{ project.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <ul class="icons">
        <li><a href="http://atomatic.net/">Designed and built by <img style="height:35px; margin-bottom:-12px"  src="{{site.media}}ATOMATIC-LOGO.jpg " /></a></li>
        <br></br>
        <li class="discuss"><a href="/contact/" rel="external"><span>Contact</span></a></li>
        {% if site.github_repo %}
        <li class="source"><a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}" rel="external"><span class="text">Source</span></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</footer>
