{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
  <a href="https://www.cybergreen.net" class="logo" style="box-sizing:initial; margin-bottom:0.3em;""><img style="padding-top:0px; max-height:69px" src="{{site.media}}CG_Logo_Colorchange_GreyandGreen.png" alt="Logo Image"></a>
    
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li  id="js-navigation-more" class="nav-link more"><a href="{{ site.url }}">About Us</a>
          <ul class="submenu">        
          <li class="nav-link"><a href="{{ site.baseurl }}/who-we-are/">Who We Are</a></li>
          <li class="nav-link"><a href="{{ site.baseurl }}/what-we-do/">What We Do</a></li>
          </ul>
        </li>

        <li class="nav-link"><a href="{{ site.baseurl }}/blog/">News</a></li>
        <li class="nav-link"><a href="http://stats.cybergreen.net/">Statistics</a></li>
        <li id="js-navigation-more" class="nav-link more"><a href="{{ site.baseurl }}/mitigation/">Mitigation</a>
          <ul class="submenu">
            <li><a href="{{ site.baseurl }}/mitigation/asean/">ASEAN</a></li>
          </ul>
        </li>
        <li id="js-navigation-more" class="nav-link more"><a href="{{ site.url }}">Data Inventory</a>
          <ul class="submenu">
          <li><a href="{{ site.baseurl }}/data-inventory/">Data Source Catalog</a></li>  
          <li><a href="{{ site.baseurl }}/data-inventory/add/">Add a Source</a></li>  
          <li class="nav-link"><a href="{{ site.baseurl }}/data/">Glossary and Data</a></li>
          </ul>
        </li>
          <li  id="js-navigation-more" class="nav-link more"><a href="{{ site.url }}">CyberGreen Scanning</a>
          <ul class="submenu">        
          <li class="nav-link"><a href="{{ site.baseurl }}/why-we-scan/">Why We Scan</a></li>
          <li class="nav-link"><a href="{{ site.baseurl }}/opt-out/">Opt-out</a></li>                                                                  
      </ul>
        </li>
        <li class="nav-link"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
                                                                    
    </nav>
  </div>
</header>
