{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="site-header">
  <!-- <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a> -->
  <a style="float: right;
    display: block;
    margin-top: 15px;
    margin-right: 13px;
    color: #333;
    text-transform: uppercase;" href="{{ site.baseurl }}/add">add a source</a>
  <a style="margin-left:13px;" class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>

</header>

<nav id="menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>
  </ul>
</nav>
