{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
  <a href="https://jarrod-omalley.github.io/cybergreen-web/ class="logo" style="box-sizing:initial; margin-bottom:0.3em;">><img style="padding-top:0px; max-height:69px" src="{{ "/img/medialibrary/CG_Logo_Colorchange_GreyandGreen.png" | prepend: site.baseurl }}" width="145 alt="Cybergree"></a>
    
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li  id="js-navigation-more" class="nav-link more"><a href="#">About Us</a>
          <ul class="submenu">        
          <li class="nav-link"><a href="{{ site.baseurl }}/who-we-are/">Who We Are</a></li>
          <li class="nav-link"><a href="{{ site.baseurl }}/what-we-do/">What We Do</a></li>
          </ul>
        </li>

        <li class="nav-link"><a href="{{ site.baseurl }}/blog/">News</a></li>
        <li class="nav-link"><a href="http://stats.cybergreen.net/">Statistics</a></li>
        <li id="js-navigation-more" class="nav-link more"><a href="{{ site.baseurl }}/mitigation/">Mitigation</a>
          <ul class="submenu">
            <li><a href="/mitigation/asean/">ASEAN</a></li>
          </ul>
        </li>
        <li id="js-navigation-more" class="nav-link more"><a href="{{ site.baseurl }}/data-inventory/">Data Inventory</a>
          <ul class="submenu">
            <li class="nav-link"><a href="{{ site.baseurl }}/data/">Glossary and Data</a></li>
            <li><a href="{{ site.baseurl }}/data-inventory/add/">Add a Source</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        <li class="nav-link"><a href="{{ site.baseurl }}/opt-out/">Cyber Green Scanning</a></li>
      </ul>
    </nav>
  </div>
</header>
